:root {
    --bs-body-font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emojia;
}

.sict-w38 {
    width: 38px;
}

.sict-h38 {
    height: 38px;
}

nav#TableOfContents {
    display: block;
    background: transparent;
    padding-bottom: 2rem;
    font-size: 1.2em;
}

nav#TableOfContents ul {
    display: list-item;
    padding-left: 0;
}

nav#TableOfContents ul:not(:first-child) {
    display: list-item;
    padding-left: 0.9rem;
    font-size: 95%;
}


nav#TableOfContents ul > li {
    display: inherit;
    color: var(--bs-primary);
}

nav#TableOfContents ul > li > a {
    color: inherit;
    text-align: left;
    padding: 0;
}

nav#TableOfContents a:hover {
    color: var(--bs-secondary);
    background-color: transparent;
}

.languages {
    list-style: none;
    gap: 1em;
}

.lang-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    flex-wrap: wrap;
    gap: 1em;
}

.lang-links .website {
background-color: color(srgb 0.0577 0.2222 0.6019)
}

.lang-links .sbl {
    background-color: #F4A580;
}

.lang-links .rn {
    background-color: #0A1135;
}

.lang-links .youtube {
    background-color: #FF0000;
}

.lang-links li {
    padding: 1.2em 1.5em;
    width: 15em;
    border-radius: 1em;
}

.lang-links a {
    text-decoration: none;
    color: #fff;
}

.lang-links a>i {
font-size: 1.8em;
    padding-bottom: .5em;
}